.hamburger {
    background-color: var(--accent);
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.hamburger *, .cheeseburger {
    margin: 20px;
}

.logo-home {
    height: 80px;
    width: auto;
}