:root {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: 'Inter var', sans-serif;
    }
}

:root {
    --accent: lightskyblue;
}

html {
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
}

body * {
    font-family: "Inter";
}

form * {
    margin: 2px;
}

.wrapper {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
}

.login-box {
    background-color: var(--accent);
    height: min-content;
    padding: 10px;
    width: 250px;
}

.fillheight {
    height: 100%;
}

.flash {
    border: 2px solid;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0px;
}

.error {
    border-color: red;
    background-color: lightcoral;
    color: red;
}

.success {
    border-color: green;
    background-color: lightgreen;
    color: green;
}