:root {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: 'Inter var', sans-serif;
    }
}

:root {
    --accent: lightskyblue;
}

body {
    margin: 0px;
    height: 100%;
}

body * {
    font-family: "Inter";
}

html {
    height: 100%;
}

.wrapper {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
}

.login-box {
    background-color: var(--accent);
    height: 50px;
    padding: 10px;
}

.fillheight {
    height: 100%;
}