@supports (font-variation-settings: normal) {
    :root {
        font-family: 'Inter var', sans-serif;
    }
}

@keyframes fade {
    from {opacity: 100%;}
    to {opacity: 0%;}
}

:root {
    font-family: 'Inter', sans-serif;
    --accent: cornflowerblue;
}

html {
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
}

body * {
    font-family: "Inter";
}

form * {
    margin: 2px;
}

noscript div {
    background-color: orangered;
    align-items: center;
}

noscript span {
    color: wheat;
}

table {
    border: 2px solid --accent;
    border-radius: 5px;
}

tr, td, th {
    border: 1px solid --accent;
    border-collapse: collapse;
}

.wrapper {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.login-box {
    background-color: var(--accent);
    height: min-content;
    padding: 10px;
    margin: 10px;
    width: 500px;
}

.fillheight {
    height: 100%;
}

.flash {
    border: 2px solid;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0px;
    width: fit-content;
}

.neg {
    border-color: red;
    background-color: pink;
    color: red;
}

.pos {
    border-color: green;
    background-color: lightgreen;
    color: green;
}

.inf {
    border-color: dodgerblue;
    background-color: paleturquoise;
    color: dodgerblue;
}

.button {
    padding: 10px;
    border: 1px solid;
    font-weight: bold;
    color: cornflowerblue;
    background-color: aliceblue;
    text-decoration: none;
    border-radius: 10px;
}

.button-menu .button {
    width: max-content;
    border-collapse: collapse;
    border-radius: 0;
}

.button-menu:first-child {
    border-radius: 10px 10px 0 0;
}

.button-menu:last-child {
    border-radius: 0 0 10px 10px;
}

.hidden {
    display: none;
}

.logo {
    width: 200px;
    height: 100px;
}

.container {
    width: 960px;
    background-color: var(--accent);
    padding: 10px;
}

.niceborder {
    padding: 20px;
    border: 5px dashed var(--accent);
    border-radius: 10px;
}

.ct, .spacer * {
    text-align: center;
    width: 100%;
}

.title {
    color: var(--accent);
    font-size: 30pt;
}

.spacer {
    width: 100px;
}

.center {
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.align {
    display: flex;
    flex-direction: row;
}

.required {
    width: fit-content;
    background-color: pink;
    color: red;
    font-style: italic;
}

.fillheight {
    height: 100%;
}

.headbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.topnav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.topnav a {
    background-color: var(--gray);
    flex-basis: 0px;
    flex-grow: 1;
    color: var(--accent);
    text-align: center;
    padding: 8px 0;
    text-decoration: none;
    font-size: 17px;
    border-bottom: solid var(--accent) 2px;
}

.topnav a.active {
    background-color: var(--transparent);
    border: solid var(--accent) 2px;
    border-bottom: none;
}

.topnav a:hover:not(.active) {
    animation: pulse-accent 1s infinite ease-in-out;
}

.box {
    width: 600px;
    padding: 0 20px;
    background-color: var(--transparent);
    background-size: 100%;
    border: solid var(--accent) 2px;
    border-top: none;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: 10px;
    scrollbar-track-color: var(--transparent);
    scrollbar-color: var(--accent);
}

.bottom-text {
    font-size: 12px;
    padding-bottom: 5px;
    padding-top: 5px;
    align-self: center;
}

.flag {
    width: 16px;
    height: 16px;
}

.fade {
    animation: fade 5s ease-in;
}