{% macro get_flashes() %}
    <div id="flashes">
        {% for category, message in get_flashed_messages(with_categories=true) %}
            {% if not category %}
                {% set category = "inf" %}
            {% endif %}
            <div class="flash {{ category }}">
                <span>{{ message }}</span>
                <button onclick="deleteFlash(this);">&#x2716;</button>
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro info(key) %}
    <span>info icon goes here</span>
{% endmacro %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %} | SignoutMaster</title>
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.6">
    <meta content="SignoutMaster" property="og:title" />
    <meta content="Catchy slogan/description" property="og:description" />
    <meta content="{{ url_for('static', filename='logo.png') }}" property="og:image" />
    <meta content="." property="og:url" />
    {% block head %}{% endblock %}
</head>
<body>
    <noscript>
        <div>
            <span>Please enable javascript!</span>
        </div>
    </noscript>
    {% block body %}{% endblock %}
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
