{% extends "base.html" %}

{% block title %}A student sign-out manager that fits your needs{% endblock %}

{% block body %}
    <div class="bar">
        <img class="logo-home" src="{{ url_for('static', filename='logo.png') }}" alt="SignoutMaster logo">
        {{ get_flashes() }}
        <div class="align">
            {% if username %}
                <span>Logged in as {{ username }}</span>
                <a class="button" href="{{ url_for('signout.monitor') }}">Monitor</a>
                <a class="button" href="{{ url_for('signout.logout') }}">Log out</a>
            {% else %}
                <a class="button" href="{{ url_for('signout.login') }}">Login</a>
                <a class="button" href="{{ url_for('signout.register') }}">Register</a>
            {% endif %}
        </div>
    </div>
    <h1>Welcome to SignoutMaster. A student manager app that meets your needs.</h1>
{% endblock %}