{% extends "center.html" %}

{% block title %}A student sign-out manager that fits your needs{% endblock %}

{% block content %}
    <div class="container">
        {{ flashes() }}
        <p>Hello, welcome to the SignoutMaster home page.</p>
        <p>Better view coming soon.</p>
        <ul>
            {% if username %}
                <li>Logged in as {{ username }}</li>
                <li><a href="{{ url_for('signout.panel') }}">Panel</a></li>
                <li><a href="{{ url_for('signout.logout') }}">Log out</a></li>
            {% else %}
                <li><a href="{{ url_for('signout.login') }}">Login</a></li>
                <li><a href="{{ url_for('signout.register') }}">Register</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}