{% extends "center.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    {{ flashes() }}
    <div class="login-box">
        <h2>Login</h2>
        <form method="post" action="{{ url_for('signout.login_handler') }}">
            <input type="text" name="username" placeholder="username" required>
            <br>
            <input type="password" name="password" placeholder="password" required>
            <br>
            <input type="submit" value="Login">
        </form>
    </div>
    <a href="{{ url_for('signout.register') }}">register instead</a>
{% endblock %}