{% extends "base.html" %}

{% block body %}
    <div class="center ct">
        <div class="spacer">
            <a href="signout.php" class="accent">go back</a>
        </div>
        <p class="title">Teacher View</p>
        <div class="spacer">
            <span class='accent'>$friendly_time</span>
        </div>
    </div>
    <div class="center">
        <div class="col niceborder">
            <h2>Currently signed out</h2>
                <table class='bordered'>
                    <tr>
                        <th>Student ID</th>
                        <th>Destination</th>
                        <th>Time out</th>
                        <th>Time since</th>
                        <th>Manual sign-in</th>
                    </tr>
                        <tr>
                            <td>$student</td>
                            <td>$destination</td>
                            <td>$time_out</td>
                            <td style='color: $mins_color;'>$mins_since minutes</td>
                            <td><a href='signout.php?id=$student&dest=return&redir=1'>Return</a></td>
                        </tr>
                        
                </table>";
                <p>No one is currently signed out.</p>
                <p>There was an SQL error.</p>
            <h2>Past signouts</h2>
                <table class='bordered'>
                    <tr>
                        <th>Student ID</th>
                        <th>Destination</th>
                        <th>Time out</th>
                        <th>Time in</th>
                        <th>Total time</th>
                    </tr>
                        <tr>
                            <td>$student</td>
                            <td>$destination</td>
                            <td>$time_out</td>
                            <td>$time_in</td>
                            <td style='color: $mins_color;'>$total_mins minutes</td>
                        </tr>
                </table>";
                <p>No past signouts have occurred.</p>
                <p>There was an SQL error.</p>
        </div>
    </div>
    <div class="center">
        <p><a href="signout.php" class="center">back to student view</a></p>
    </div>
{% endblock %}