{% extends "tabbed.html" %}

{% block title%}Monitor Students{% endblock %}

{% block navbar %}
    {{ nav("monitor") }}
{% endblock %}

{% macro time_diff(diff) %}
    {% set mins = (diff/60)|int %}
    {% if mins > 60 %}
        {% set hours = (mins//60)|int %}
        {% set remainder = (mins%60)|int %}
        <span>{{ hours }} hrs {{ remainder }} min</span>
    {% else %}
        <span>{{ mins }} min</span>
    {% endif %}
{% endmacro %}

{% block content %}
    <h1>Monitor Students</h1>
    {{ get_flashes() }}
    <h2>Currently signed out</h2>
    {% set combo_format = settings["date_format"] + " " + settings["time_format"] %}
    {% if current_signouts %}
        <table class="bordered">
            <tr>
                <th>Student ID</th>
                <th>Destination</th>
                <th>Time out</th>
                <th>Time since</th>
                <th><img class="flag" src="{{ url_for('static', filename='flag_grayscale.png') }}" title="Flagged for being out too long"></th>
                <th>Return student</th>
            </tr>
            {% for signout in current_signouts %}
                {% if signout[3] in settings["locations"] and ((time-signout[4])/60)|int > settings["locations"][signout[3]] %}
                    {% set flagged = True %}
                    {% set color = "red" %}
                {% else %}
                    {% set flagged = False %}
                    {% set color = "black" %}
                {% endif %}
                <tr>
                    <td>{{ signout[2] }}</td>
                    <td>{{ signout[3] }}</td>
                    {% set time_since = time_diff(time - signout[4]) %}
                    {% if ((time-signout[4])/60)|int > 1440 %}
                        {% set format = combo_format %}
                    {% else %}
                        {% set format = settings["time_format"] %}
                    {% endif %}
                    <td>{{ signout[4]|time(format) }}</td>
                    <td style="color: {{ color }};">
                        {{ time_since }}
                    </td>
                    <td>
                        {% if flagged %}
                            <img class="flag" alt="flagged" src="{{ url_for('static', filename='flag.png') }}">
                        {% endif %}
                    </td>
                    <td>
                        <form method="post" action="{{ url_for('signout.student_handler') }}">
                            <input type="text" name="id" value="{{ signout[2] }}" hidden>
                            <input type="text" name="destination" value="return" hidden>
                            <input type="text" name="monitor" value="1" hidden>
                            <input type="submit" value="Return">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No one is currently signed out.</p>
    {% endif %}
    <h2>Past signouts</h2>
    {% if past_signouts %}
        <table class="bordered">
            <tr>
                <th>Student ID</th>
                <th>Destination</th>
                <th>Time out</th>
                <th>Time in</th>
                <th>Total time</th>
                <th>Delete</th>
            </tr>
            {% for signout in past_signouts %}
                {% if signout[3] in settings["locations"] and ((signout[5]-signout[4])/60)|int > settings["locations"][signout[3]] %}
                    {% set flagged = True %}
                    {% set color = "red" %}
                {% else %}
                    {% set flagged = False %}
                    {% set color = "black" %}
                {% endif %}
                <tr>
                    <td>{{ signout[2] }}</td>
                    <td>{{ signout[3] }}</td>
                    <td>{{ signout[4]|time(combo_format) }}</td>
                    <td>
                        {% if signout[5] == -1 %}
                            dismissed
                        {% else %}
                            {{ signout[5]|time(combo_format) }}
                        {% endif %}
                    </td>
                    <td style="color: {{ color }};">
                        {% if signout[5] == -1 %}
                            N/A
                        {% else %}
                            {{ time_diff(signout[5]-signout[4]) }}
                        {% endif %}
                    </td>
                    <td>
                        <form action="{{ url_for('signout.delete_signout') }}" method="post">
                            <input name="id" type="text" value="{{ signout[0] }}" hidden>
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No past signouts have occurred.</p>
    {% endif %}
{% endblock %}