{% extends "center.html" %}

{% block content %}
    <div class="container">
        <a class="button" href="{{ url_for('signout.panel') }}">back</a>
        <h3>Edit Locations</h3>
        <table>
            <tr>
                <th>Location Name</th>
                <th>Max time (mins)</th>
                <td></td>
            </tr>
            <tr>
                <form method="post" action="{{ url_for('signout.apply_settings') }}">
                    <td><input type="text" name="add-location" placeholder="Add location..." size="15" maxlength="64" required></td>
                    <td><input type="text" name="add-location-time" placeholder="Max time" size="5" maxlength="3" required></td>
                    <td><input type="submit" value="&#x2795;"></td>
                </form>
            </tr>
            {% if "locations" in settings and settings["locations"]|length > 0 %}
                {% for location in settings["locations"] %}
                    <tr>
                        <form method="post" action="{{ url_for('signout.apply_settings') }}">
                            <td><span>{{ location }}</span></td>
                            <td><span>{{ settings["locations"][location] }}</span></td>
                            <input type="text" name="remove-location" value="{{ location }}" hidden>
                            <td><input type="submit" value="&#x2716;"></td>
                        </form>
                    </tr>
                {% endfor %}
            {% else %}
                <tr><td colspan="3"><i>No locations yet!</i></td></tr>
            {% endif %}
        </table>
    </div>
{% endblock %}