{% extends "tabbed.html" %}

{% block title%}Settings{% endblock %}

{% block navbar %}
    {{ nav("settings") }}
{% endblock %}

{% block content %}
    <h1>Settings</h1>
    <i>Settings are saved as soon as they are changed.</i>
    {{ get_flashes() }}

    <hr>
    <h2 id="destinations">Edit Destinations</h2>
    <p>Here you can set the destinations that your students can select when signing out of class.</p>
    {% if not settings["locations"] %}
        <span class="required">Warning: You must have at least one signout destination available to use the service.</span>
    {% endif %}
    <table>
        <tr>
            <th>Location Name</th>
            <th>Max time (mins)</th>
            <td></td>
        </tr>
        <tr>
            <form method="post" action="{{ url_for('signout.apply_settings') }}">
                <td><input type="text" name="add-location" placeholder="Add location..." size="15" maxlength="64" required></td>
                <td><input type="text" name="add-location-time" placeholder="Max time" size="5" maxlength="3" required></td>
                <td><input type="submit" value="&#x2795;"></td>
            </form>
        </tr>
        {% if settings["locations"] %}
            {% for location in settings["locations"] %}
                <tr>
                    <form method="post" action="{{ url_for('signout.apply_settings') }}">
                        <td><span>{{ location }}</span></td>
                        <td><span>{{ settings["locations"][location] }}</span></td>
                        <input type="text" name="remove-location" value="{{ location }}" hidden>
                        <td><input type="submit" value="&#x2716;"></td>
                    </form>
                </tr>
            {% endfor %}
        {% else %}
            <tr><td colspan="3"><i>No locations yet!</i></td></tr>
        {% endif %}
    </table>
    <table>
        <tr>
            <td>Allow "other"</td>
            {% if settings["allow_other"] %}
                {% set submit = "0" %}
                {% set class = "pos" %}
                {% set value = "yes" %}
            {% else %}
                {% set submit = "1" %}
                {% set class = "neg" %}
                {% set value = "no" %}
            {% endif %}
            <form method="post" action="{{ url_for('signout.apply_settings') }}">
                <input type="text" name="set-other" value="{{ submit }}" hidden>
                <td><input class="{{ class }}" type="submit" value="{{ value }}"></td>
            </form>
        </tr>
        <tr>
            <td>Allow leaving</td>
            {% if settings["allow_leave"] %}
                {% set submit = "0" %}
                {% set class = "pos" %}
                {% set value = "yes" %}
            {% else %}
                {% set submit = "1" %}
                {% set class = "neg" %}
                {% set value = "no" %}
            {% endif %}
            <form method="post" action="{{ url_for('signout.apply_settings') }}">
                <input type="text" name="set-leave" value="{{ submit }}" hidden>
                <td><input class="{{ class }}" type="submit" value="{{ value }}"></td>
            </form>
        </tr>
    </table>

    <hr>
    <h2 id="remote">Remote Access Link</h2>
    <p>This feature allows you to generate a randomized secure link which allows access to the student signout panel.</p>  
    {% if settings["remote_on"] %}
        <div class="align">
            <span>Status:</span>
            <form method="post" action="{{ url_for('signout.apply_settings') }}">
                <input type="text" name="set-remote" value="0" hidden>
                <input type="submit" class="pos" value="enabled">
            </form>
            <form method="post" action="{{ url_for('signout.apply_settings') }}">
                <input type="text" name="regen-link" value="1" hidden>
                <input type="submit" value="Regenerate Link">
            </form>
            <button onclick="copyLink();">Copy Link</button>
        </div>
        <br>
        <span>Your URL:</span>
        {% set DOMAIN = "http://127.0.0.1:5000" %}
        {% set link = url_for("signout.remote_link", key=settings["remote_url"]) %}
        <a href="{{ link }}" target="_blank" id="remote-link">{{ DOMAIN }}{{ link }}</a>
    {% else %}
        <div class="align">
            <span>Status:</span>
            <form method="post" action="{{ url_for('signout.apply_settings') }}">
                <input type="text" name="set-remote" value="1" hidden>
                <input type="submit" class="neg" value="disabled">
            </form>
        </div>
    {% endif %}

    <hr>
    <h2 id="display">Display Preferences</h2>
    <p>Set your preferred formats and visual themes.</p>
    <form method="post" action="{{ url_for('signout.apply_settings') }}">
        {% set timestamp = 1601231479 %}
        <label for="date-format">Date format:</label>
        <select name="date-format" onchange="this.form.submit()">
            {% set selected = namespace(value=0) %}
            {% for opt in ["%m/%d", "%d/%m", "%b %d", "%d %b"] %}
                {% if opt == settings["date_format"] %}
                    <option value="{{ opt }}" selected>{{ timestamp|time(opt) }}</option>
                    {% set selected.value = 1 %}
                {% else %}
                    <option value="{{ opt }}">{{ timestamp|time(opt) }}</option>
                {% endif %}
            {% endfor %}
            {% if selected.value == 0 %}
                <option value="none" selected disabled hidden>Custom: {{ settings["date_format"] }}</option>
            {% endif %}
        </select>
        <br>
        <label for="time-format">Time format:</label>
        <select name="time-format" onchange="this.form.submit()">
            {% set selected = namespace(value=0) %}
            {% for opt in ["%I:%M %p", "%H:%M"] %}
                {% if opt == settings["time_format"] %}
                    <option value="{{ opt }}" selected>{{ timestamp|time(opt) }}</option>
                    {% set selected.value = 1 %}
                {% else %}
                    <option value="{{ opt }}">{{ timestamp|time(opt) }}</option>
                {% endif %}
            {% endfor %}
            {% if selected.value == 0 %}
                <option value="none" selected disabled hidden>Custom: {{ settings["time_format"] }}</option>
            {% endif %}
        </select>
        <noscript>
            <br>
            <input type="submit" value="Apply time settings">
        </noscript>
    </form>
    <form method="post" action="{{ url_for('signout.apply_settings') }}">
        <label for="accent-color">Accent color for student panel:</label>
        {% if settings["accent_color"] %}
            {% set color = settings["accent_color"] %}
        {% else %}
            {% set color = "339382" %}
        {% endif %}
        <input type="color" name="accent-color" value=>
        <input type="submit" value="Set">
    </form>
    <form method="post" action="{{ url_for('signout.apply_settings') }}">
        <label for="logo-url">School logo URL (leave blank to disable):</label>
        <input type="text" name="logo-url">
        <input type="submit" value="Set">
        <br>
        {% if settings["logo_url"] %}
            <span>Preview:</span>
            <br>
            <img src="{{ settings['logo_url'] }}" class="preview" style="border-color: {{ color }};">
        {% endif %}
    </form>

    <div class="blank"></div>
{% endblock %}