{% extends "center.html" %}

{% block content %}
    <div class="container">
        <h3>Edit Locations</h3>
        <ul>
            {% if "locations" in settings and settings["locations"]|length > 0 %}
                {% for location in settings["locations"] %}
                    <li>  
                        <form method="post" action="{{ url_for('signout.apply_settings') }}">
                            <span>{{ location[0] }}</span>
                            <span>{{ location[1] }}</span>
                            <input type="text" name="remove-location" value="{{ location[0] }}" hidden>
                            <input type="submit" value="&#x2716;">
                        </form>
                    </li>
                {% endfor %}
            {% else %}
                <li><i>No locations yet!</i></li>
            {% endif %}
            <li>
                <form method="post" action="{{ url_for('signout.apply_settings') }}">
                    <input type="text" name="add-location" placeholder="add location..." required>
                    <input type="text" name="add-location-time" placeholder="max mins" value="10" required>
                    <input type="submit" value="&#x2795;"> 
                </form>
            </li>
        <ul>
    </div>
{% endblock %}