{% extends "center.html" %}

{% block title %}Sign Out{% endblock %}

{% block head %}
    <script src="{{ url_for('static', filename='responsive.js') }}"></script>
    {% if settings["accent_color"] %}
        <style>
            :root {
                --accent: #{{ settings["accent_color"] }};
            }
        </style>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="center ct">
        <div class="spacer"></div>
        <h2 class="title">Sign Out</h2>
        <div class="spacer">
            {% if not remote_key %}
                <span class="accent">{{ current_time|time("%I:%M %p") }}</span>
            {% endif %}
        </div>
    </div>
    <div class="ct">
        {#{% if settings["logo_url"] and "http" in settings["logo_url"] %}
            <img src="{{ settings['logo_url'] }}" class="preview">
        {% endif %}#}
        <p>
            <b>{{ schoolname }}</b>
        </p>
        {% if not session["student_lock"] and not remote_key %}
            <p>This session is not locked <a href="{{ url_for('signout.student_lock') }}"><button>&#128274; Lock</button></a> {{ info("notlocked") }}</p>
        {% endif %}
    </div>
    
    <div class="col niceborder">
        <form name="signout" action="{{ url_for('signout.student_handler') }}" method="post" autocomplete="off">
            {% if remote_key %}
                <input type="text" name="remote_key" value="{{ remote_key }}" hidden>
            {% endif %}
            <table>
                <tr>
                    <td><label for="id">ID:</label></td>
                    <td><input type="text" class="student-id" id="student-id" name="id" minlength="{{ settings['id_min'] }}" maxlength="{{ settings['id_max'] }}" required autofocus></td>
                </tr>
                <tr>
                    <td><label for="destination">Destination:</label></td>
                    <td>
                        <input type="radio" name="destination" id="option-return" value="return" checked>
                        <label for="return">Sign back in</label>
                    </td>
                </tr>
                {% for location_name in settings["locations"] %}
                    <tr>
                        <td></td>
                        <td>
                            <input type="radio" name="destination" id="option-{{ location_name }}" value="{{ location_name }}">
                            <label for="{{ location_name }}">{{ location_name }}</label>
                        </td>
                    </tr>
                {% endfor %}
                {% if settings["allow_other"] %}
                    <tr>
                        <td></td>
                        <td>
                            <input type="radio" name="destination" id="otherbtn" value="other">
                            <input type="text" name="other" id="otherval" placeholder="Other" maxlength="50">
                        </td>
                    </tr>
                {% endif %}
                {% if settings["allow_leave"] %}
                    <tr>
                        <td><label for="dismiss">Going home?</label></td>
                        <td><input type="checkbox" name="dismiss" id="dismiss"></td>
                    </tr>
                {% endif %}
                <tr>
                    <td colspan="2"><input type="submit" value="Submit"></td>
                </tr>
            </table>
        </form>
    </div>
    <div class="col ct">
        {{ get_flashes() }}
        <br>
        {% if not remote_key %}
            {% if session["student_lock"] %}
                <a href="{{ url_for('signout.student_unlock') }}">Unlock panel</a>
            {% else %}
                <a href="{{ url_for('signout.monitor') }}">Monitor mode</a>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}