{% extends "base.html" %}

{% block title %}Terms of Service{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='homestyle.css') }}">
{% endblock %}

{% block body %}
    <div class="cheeseburger">
        <h1>Terms of Service</h1>
        <p>These terms are not legally binding or anything because this is just an amateur app and you should not take anything I say seriously! But please follow these rules when using SignoutMaster.</p>
        <i>SignoutMaster is an <a href="https://github.com/weirdcease/signoutmaster" target="_blank">open-source</a> project, developed by Charles AS.</i>
    </div>
{% endblock %}